

.page-container {
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex:1;
}

.login-regi{
  display: flex;
  flex-direction: column-reverse;
}

.menu{
  flex-direction: column-reverse;
}